In [2]:
import json,csv
import pandas as pd
from functions import *
import ast
import time
import numpy as np

In [ ]:
%run main.py --dblp data/dblp-2021-04-01.xml --output data/output.json

In [3]:
# Using readlines()
file = open('data/output.json', 'r')
Lines = file.readlines()

In [34]:
def get_venue_pub(conf):
    pubList=[]
    csv_keys=set()
    for line in Lines:
        publication=json.loads(line)
        if ("author" in publication.keys()) & ("booktitle" in publication.keys()):
                if publication['booktitle'].lower()==conf.lower():
                    #csv_keys.update(list(publication.keys()))
                    pubList.append(publication)
    df = pd.DataFrame(pubList)
    df.to_csv('data/'+conf+'.csv', index=False) 
    return pd.read_csv('data/'+conf+'.csv')

In [38]:
#get ICSME data
ICSME=get_venue_pub('ICSME')
ICSME.head(1)

,author,title,pages,year,booktitle,ee,crossref,url,genre
0,['Craig Anslow'],Reflections on Collaborative Software Visualiz...,['645-650'],2014,ICSME,"['https://doi.org/10.1109/ICSME.2014.115', 'ht...",['conf/icsm/2014'],['db/conf/icsm/icsme2014.html#Anslow14'],inproceedings

In [37]:
#get MSR data
MSR=get_venue_pub('MSR')
MSR.head(1)

,author,title,pages,year,booktitle,ee,crossref,url,genre
0,"['Yuan-Fang Li', 'Hongyu Zhang 0002']",Integrating software engineering data using se...,['211-214'],2011,MSR,['https://doi.org/10.1145/1985441.1985473'],['conf/msr/2011'],['db/conf/msr/msr2011.html#LiZ11'],inproceedings

In [35]:
#get SANER data
SANER=get_venue_pub('SANER')
SANER.head(1)

,author,title,pages,year,booktitle,ee,crossref,url,genre
0,"['Ayushi Rastogi', 'Nachiappan Nagappan']",Forking and the Sustainability of the Develope...,['102-111'],2016,SANER,"['https://doi.org/10.1109/SANER.2016.27', 'htt...",['conf/wcre/2016'],['db/conf/wcre/saner2016.html#RastogiN16'],inproceedings

In [30]:
df = pd.read_csv("data/SANER.csv")

In [36]:
#get ICSE data
ICSE=get_venue_pub('ICSE')
ICSE.head(1)

,author,title,pages,year,crossref,booktitle,ee,url,genre
0,['Qing Xie 0008'],Developing cost-effective model-based techniqu...,['997-1000'],2006,['conf/icse/2006'],ICSE,['https://doi.org/10.1145/1134285.1134473'],['db/conf/icse/icse2006.html#Xie06'],inproceedings

## Statistics:

In [40]:
conferences=['SANER','MSR','ICSME','ICSE']

In [43]:
for conf in conferences:
    df=pd.read_csv('data/'+conf+'.csv')
    print('The number of publications for conference', conf,'is:', len(df))

The number of publications for conference SANER is: 474
The number of publications for conference MSR is: 838
The number of publications for conference ICSME is: 636
The number of publications for conference ICSE is: 3770